.nav {
  width: 100vw;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
      animation-name: font;
      animation-duration: 0.3s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  &__logout {
    position: fixed;
    right: 10px;
  }

  &__button {
    border: none;
    background-color: white;
    font-weight: 600;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      animation-name: font;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes font {
  from {
    font-size: 16px;
  }
  to {
    font-size: 18px;
  }
}
