.users {
  display: grid;
  width: 1600px;
  grid-template-columns: 400px 400px 400px 400px;
  height: 100%;
  margin: 0 auto 0 auto;

  ul {
    width: 380px;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    &:hover {
      cursor: default;
      border: 1px solid black;
      box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
    }
  }

  li {
    list-style-type: none;
  }

  &__button {
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 60px;
    margin-bottom: 5px;

    &:hover {
      color: red;
      border: 2px solid red;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 0;
  }
}

.users__button--edit {
  &:hover {
    color: green;
    border: 2px solid green;
  }
}

.users-list {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    padding: 0;
  }

  &__title {
    display: inline;
    font-weight: bold;
  }
}
