.users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  max-width: 1000px;
  height: 800px;
  margin: 0 auto 0 auto;

  ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid black;
    width: 500px;
  }

  li {
    list-style-type: none;
  }
}
